<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список заявок</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="/table-requests">Заявки</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/table-services">Услуги</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/table-users">Пользователи</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/table-inventory">Персонал</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/table-employees">Инвентарь</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Выйти</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-9">
            <h1>Список заявок</h1>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>№</th>
                    <th>Дата</th>
                    <th>Услуга</th>
                    <th>Пользователь</th>
                    <th>Статус</th>
                    <th>Работники</th>
                    <th>Инвентарь</th>
                    <th></th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="request, iterStat : ${requests}">
                    <td th:text="${iterStat.count + 'руб.'}"></td>
                    <td th:text="${request.dateTime}"></td>
                    <td th:text="${request.service != null ? request.service.name : ''}"></td>
                    <td th:text="${request.user.name}"></td>
                    <td th:text="${request.status}"></td>
                    <td th:text="${request.employee.name}"></td>
                    <td th:text="${request.inventory.name}"></td>
                    <td>
                        <a th:href="@{/edit-request/{id}(id=${request.id})}" class="btn btn-primary">Редактировать</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
